body{

}
.page-panel{
    background-image: url('https://ss3.bdstatic.com/lPoZeXSm1A5BphGlnYG/skin/2.jpg?2');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute; 
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.login-panel{
    position: relative;
    margin-top: 15%;
    /* min-height: 4rem;
    min-width: 40%; */
    /* background: black; */
    /* padding-bottom: 370px; */
}

  .login-form-forgot {
    float: right;
  }
  .login-form-button {
    width: 100%;
    margin-bottom: 0.1rem;
  }
  .login-form{
    padding: 2rem;
    /* border: 1px solid white; */
    color: white;
    width: 100%;
    font-size: 1.2rem;
  } 
  .login{
    top: -600px;
     position: absolute; 
  }
  .nav{
    /* display: block; */
    position: absolute; 
  }


  .login-form a{
    color: white;
  }
  /* .login-form.without-login::after{
   content: ' ';
   height: 3px;
   width: 3px;
   border: 1px solid white;
  } */
  .opration-box{
    position: relative;
    z-index: 0;
color: white
  }
  .opration-box-bkg{
    z-index: -1;
    background: black;
    position: absolute;
    border-radius: 1rem;
    height: 100%;
    top:0;
    left: 0;
    width: 100%;
    opacity: 0.4;
  }
  .option-box{
    width: 100%;
    padding: 1rem 0;
  }
 .login-toLogin{
    text-align: center;
   
  }
  .login-customer-in{
    text-align: right;
    padding-right: 2rem;
    text-decoration: underline
  }


  /*动画*/
  body .loginPanel-show
  {
  animation:showLogin 3s;
  -moz-animation:showLogin 3s; /* Firefox */
  -webkit-animation:showLogin 3s; /* Safari and Chrome */
  -o-animation:showLogin 3s; /* Opera */
  display: block;
  animation-fill-mode: forwards;
  }

  body .nav-hidden{
    animation:navHide 3s;
    -moz-animation:navHide 3s; /* Firefox */
    -webkit-animation:navHide 3s; /* Safari and Chrome */
    -o-animation:navHide 3s; /* Opera */
    animation-fill-mode: forwards;
      }
  
  @keyframes showLogin
  {
  0%   { top: -700px;}
  75%  { top: 0;}
  79%  { top: 30px;}
  84%  { top: 0;}
  89%  { top: -25px;}
  94%  { top: 0;}
  97%  { top: 10px;}
  100% {top: 0;}
  }

  @keyframes navHide
  {
  0%   {opacity: 0;bottom:0}
  100%  { transform:rotate(720deg) scale(0.1,0.1);opacity: 1;bottom:-800px}
  }
  
  @-moz-keyframes myfirst /* Firefox */
  {
  0%   {background:red; left:0px; top:0px;}
  25%  {background:yellow; left:200px; top:0px;}
  50%  {background:blue; left:200px; top:200px;}
  75%  {background:green; left:0px; top:200px;}
  100% {background:red; left:0px; top:0px;}
  }
  
  @-webkit-keyframes myfirst /* Safari and Chrome */
  {
  0%   {background:red; left:0px; top:0px;}
  25%  {background:yellow; left:200px; top:0px;}
  50%  {background:blue; left:200px; top:200px;}
  75%  {background:green; left:0px; top:200px;}
  100% {background:red; left:0px; top:0px;}
  }
  
  @-o-keyframes myfirst /* Opera */
  {
  0%   {background:red; left:0px; top:0px;}
  25%  {background:yellow; left:200px; top:0px;}
  50%  {background:blue; left:200px; top:200px;}
  75%  {background:green; left:0px; top:200px;}
  100% {background:red; left:0px; top:0px;}
  }